body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

header {
  display: block;
  height: 10vh;
  overflow: auto;
  background: pink;
  color: red;
  font-size: 28px;
}

.container {
  height: 90vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

pre {
  background: #f8f8f8;
}

pre, textarea {
  width: 50%;
  font-family: monospace;;
  font-size: 28px;
  margin: 0;
  padding: 10px;
  color: #222;
}

textarea:focus { outline: 0; }
